# Turns off linguist detection for all .tex files
*.tex linguist-detectable=false

# Turns on linguist detection for one single .text file
AP[[:space:]]Calculus[[:space:]]BC/Assignment[[:space:]]%23[[:space:]]1/main.tex linguist-language=tex
